extends ./Layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em Aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elit ut aliquam purus sit amet luctus. Id aliquet lectus proin nibh nisl condimentum. Tristique senectus et netus et malesuada fames ac. 

                p Nibh praesent tristique magna sit amet purus. Tortor posuere ac ut consequat. Urna porttitor rhoncus dolor purus non enim praesent elementum. Lectus magna fringilla urna porttitor rhoncus dolor purus non enim. Ornare suspendisse sed nisi lacus sed viverra tellus in. 

            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes
    
    .descuento
        .container 
            .row 
                .col-md-6
                    .contenido
                        h3 5% de descuento
                        p.titulo Viaje a Canada
                        p.fecha 11 de Marzo de 2023 - 11 de Abril de 2023
                        p.precio $ 2.500 USD
    .container
        h2.mt-5.text-center Testimoniales
        blockquote.text-center Lee sobre nuestros clientes y sus experiencias
        include ./Layout/bloque_testimoniales
        
    
            
