footer.container.py-5
    div.row
        .col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.nav-link(href="/nosotros") Nosotros
                a.nav-link(href="/viajes") Viajes
                a.nav-link(href="/testimoniales") Testimoniales

        .col-md-6
            p.copyright.text-center.tex-md-right
                | Todos los derechos reservados | 
                span= ActualYear